<div class="nav-container">
  <div (click)="goHome()">
    <div class="flex-container-center-horizontal">
      <div id="logo"></div>
    </div>
  </div>
  <nav>

    <a routerLink="/dashboard" routerLinkActive="active-link">
      <div class="flex-container-center-vertical">
        <div class="parent-link">DASHBOARD</div>
      </div>
    </a>
    <a routerLink="/timeTable" routerLinkActive="active-link">
      <div class="flex-container-center-vertical">
        <div class="parent-link">TIME TABLE</div>
      </div>
    </a>
  </nav>

</div>